#countries-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.image {
  width: 250px;
}
.country {
  width: 25%;
  /* min-width: 400px; */
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h1 {
  text-align: center;
}
#mode {
  text-align: center;
}
#country-search {
  border-radius: 8px;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  width: 250px;
  color: black;
}
#filter-region {
  border-radius: 8px;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  width: 250px;
  color: black;
}
