body {
  background-color: var(--body);
  color: hsl(200, 15%, 8%);
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}
#countries-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.image {
  width: 250px;
}
.country {
  width: 25%;
  /* min-width: 400px; */
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* h1 {
  text-align: center;
} */
#mode {
  width: 100px;
  margin-top: 35px;
  align-items: center;
}
.far {
  width: 20px;
  color: rgb(15, 3, 3);
}
#country-search {
  font-family: "Lucida Sans Unicode", sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  width: 250px;
  color: black;
}
#filter-region {
  margin-left: 750px;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  width: 250px;
  color: black;
}
.country-name {
  text-align: left;
}
body .mode {
  color: hsl(0, 0%, 100%);
  --body: hsl(207, 26%, 17%);
  --background-el: hsl(209, 23%, 22%);
}
.hide {
  display: none;
}
#country-details-popup {
  margin: 0 20%;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
}
